<!DOCTYPE html>
<html ng-app="OfflineKitLookupApp" ng-controller="OfflineKitLookupController" >
<head>
<link href="./css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./js/third-party/angular.min.js"></script>
<script type="text/javascript" src="./js/third-party/angular-sanitize.min.js"></script>
<script type="text/javascript" src="./js/third-party/porter-stemmer.js"></script>
<script type="text/javascript" src="./js/script.js"></script>
<title>Search offline content</title>
</head>
<body>
	<div class="container">
		<h1>Search offline content</h1>
		<div class="form">
			<select ng-options="item for item in categories" ng-model="category" ng-change="search()"></select>
			<input type="text" placeholder="Search..." ng-model="query" ng-change="search()" />
			<!-- <button ng-click="search()"></button> -->
		</div>
		<div class="results">
			<div class="error" ng-show="query && errorMessage">{{errorMessage}}</div>
			<div ng-show="query && pages && results">
				<div class="message"><span class="category-label">{{category}}:</span> <strong>{{firstPageResultIndex}}</strong>-<strong>{{lastPageResultIndex}}</strong> of <strong>{{totalResultCount}}</strong> results found.</div>
				<p ng-repeat="result in results">
					<a class="title" href=".{{result.path}}" ng-bind-html="result.title"></a>
					<span class="description" ng-show="result.desc" ng-bind-html="result.desc+'...'"></span>
					<span class="path">{{result.path}}</span>
				</p>
			</div>
		</div>
		<div class="page-nav" ng-show="pages&&pages.length&&query">
			<span>
				<a href="#" ng-show="pageIndex" ng-click="showPage(pageIndex-1)" >&laquo;prev</a>
			</span>
			<span ng-repeat="page in pages.slice(navStartIndex,navStartIndex+RESULTS_PER_PAGE)"><a href="#" index="{{$index}}" ng-click="showPage($index+navStartIndex)" class="{{$index+navStartIndex==pageIndex?'active':''}}">{{$index+navStartIndex+1}}</a></span>
			<span>
				<a href="#" ng-show="pages.length>1" ng-click="showPage(pageIndex+1)" >next&raquo;</a>
			</span>
		</div>
	</div>
</body>
</html>